body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
};

header {
  display: flex;
  align-items: center;
}

header > p {
  font-size: 4em;
  font-style: oblique;
}

.home-view {
  background-color: skyblue;
  width: 60%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.player-card {
  width: 20%;
  height: 100vh;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-name > p {
  font-size: 3em;
}

.player-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-wins {
  display: flex;
  flex-direction: row;
}

.player-wins > p {
  font-size: 3em;
}
.classic-game {
  border: solid 3px black;
  border-radius: 5px;
  height: 25%;
  width: 30%;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}


.difficult-game {
  margin-top: 10%;
  border: solid 3px black;
  border-radius: 5px;
  height: 25%;
  width: 30%;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.classic-game:hover {
  background-color: white;
}

.difficult-game:hover {
  background-color: white;
}

.classic-game-view {
  background-color: skyblue;
  width: 60%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.difficult-game-view {
  background-color: skyblue;
  width: 60%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.rock-image {
  cursor: pointer;
}

.paper-image {
  cursor: pointer;
}

.scissors-image {
  cursor: pointer;
}

.ninja-image {
  cursor: pointer;
}

.ghost-image {
  cursor: pointer;
}

.player-result {
  font-size: 3em;
  font-style: oblique;
}

.images {
  height: 30%;
  width: 80%;
}

.computer-card {
  width: 20%;
  height: 100vh;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.computer-name > p {
  font-size: 3em;
}

.computer-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.computer-wins {
  display: flex;
  flex-direction: row;
}

.computer-wins > p {
  font-size: 3em;
}

.images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.hidden {
  display: none;
};
